@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container {
  max-width: 1360px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
}

h1, h2, h3, h4, h5, h6, a, span, button, data, label {
  font-family: 'Poppins';
}

body {
  background: #0E0E0E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto'; 
}

ul, li, a {
  text-decoration: none;
  list-style: none;
}

img {
  object-fit: cover;
  width: 100%;
}

label {
  font-size: 1rem;
  font-weight: 400;
  color: #9C9C9C;
}

input {
  margin-top: 8px;
  width: 100%;
  padding: 24px;
  border: none;
  color: #f5f5f5;
  background: #1A1A1A;
  border-radius: 10px;
  font-family: 'Roboto';
  font-size: 1rem;
}

#loading {
  color: white;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1);
}